.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page h1 {
  margin-top: 80px;
  font-size: 5rem;
}

.login-page h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.login-page .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  margin-top: 40px;
  border: 2px solid #3c4e77;
  background-color: #202733;
  padding: 3em;
  border-radius: 24px;
}

.login-page .input {
  border: 2px solid #87a6ed;
  padding: 8px 16px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  width: 250px;
}

.login-page button {
  border-radius: 24px;
  border: 2px solid;
  border-color: #87a6ed;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 100;
  transition: border-color 0.1s;
  margin-top: 20px;
}

.login-page button:hover {
  background-color: #394b74;
}

.login-page .register-link {
  margin-top: 25px;
}
